* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p {
    margin-bottom: 0px;
    color: #444;
  }
  a {
    text-decoration: none;
    color: #007BFF; 
    transition: color 0.3s ease;
  }
  a:hover {
    color: #0056b3; 
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #222; 
  }
 